<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" type="text/css" />
    <title><%= title %> | BUsense</title>
  </head>
  <header>
    <nav
      class="bg-blue-500 text-white py-2 border-b-2 border-b-blue-700 flex flex-row"
    >
      <a href="https://github.com/Foggy-J/BUsense" target="_blank">
        <h1 class="text-2xl font-semibold pl-2">BUsense</h1>
      </a>
      <p class="text-xs text-right pr-2 my-auto">v.<%= version %></p>
    </nav>
  </header>
</html>
